.about {
	background-image: linear-gradient(
			rgba(53, 143, 202, 1),
			rgba(53, 143, 202, 0)
		),
		url(../assets/EpcotPattern.jpg);
	background-size: 80%;
	background-repeat: repeat-x;

  .blurb {
		padding: 0 0 10%;
    text-align: center;
    font-size: 28px;
    font-family: Hind;
    color: @color-secondary-1-4;
  }
  
	.title {
		font-size: 36px;
	}

	.text {
	}
}
