@import url('https://fonts.googleapis.com/css?family=Hind:300|Poppins:300');

html {
  background-color: #358fca;
  color: white;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

a:link,
a:visited {
  color: #E63B00;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
}

a:hover,
a:active {
  color: black;
}

.navbar {
  height: 50px;
  font-family: Poppins;
}

.navbar__link {
  margin: 10px;
  padding: 10px;
}

.home {
  background: linear-gradient(#358fca, #033e7c);
  padding: 5% 0;
}

.home__quote_gen {
  margin: 5%;
  padding: 5%;
  min-width: 30%;
  max-width: 35%;
  min-height: 25%;
  font-size: 36px;
}

.home__blurb {
  text-align: center;
  font-family: helvetica;
  font-size: 28px;
  margin: 5% 5% 0;
  font-family: Hind;
}

.about {
  background-color: #033e7c;
  padding: 5%;
}

.about__title {
  font-size: 36px;
}

.about__text {
  max-width: 50%;
}

.projects {
  background: linear-gradient(#033e7c, #476BC6);
  padding: 350px 0;
}

.timeline {
  background: linear-gradient(#476BC6, #5370c6);
  padding: 350px 0;
}

.accomplishments {
  background-color: #5370c6;
  padding: 350px 0;
}
